<div class="border-bottom pt-4 pb-3 mb-3">
	<p class="text-center h5 font-weight-bold">
		<%= @property_facade.full_address %>
	</p>
</div>

<div class="container table-responsive">
	<table class="table table-sm table-borderless">
		<tbody>
			<tr>
				<th scope="row">
					Name:
				</th>
				<td>
					<%= @property_facade.name %>
				</td>
		</tbody>
	</table>
</div>