<h3 class="text-center mt-6 mb-1">Pricing Location Address</h3>

<div class="container mt-1">
  <%= form_tag('/find-property', method: :post) do %>
    <div class="center-wrapper">
      <% if flash[:alert] %>
        <p class="text-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>

    <div class="form-group">
      <%= text_field_tag :address, nil, class: 'form-control mt-3' %>
    </div>

    <div class="mt-4 center-wrapper">
      <%= submit_tag 'Find Location', class: 'btn-trelora' %>
    </div>
  <% end %>
</div>