/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$vivid-spring-bud: #88d000;
$trout: #494f5d;
$wild-sand: #f4f4f4;
$alabaster: #f8f8f8;
$mine-shaft: #333333;

$font-family-sans-serif: 'Oxygen', Helvetica, Arial, sans-serif;
$body-color: $mine-shaft;

@import "bootstrap";
@import "login.scss";
@import url(https://fonts.googleapis.com/css?family=Oxygen);

.nav-link {
  color: $wild-sand;
  background-color: $trout;
}

.nav-link:hover {
  background-color: $vivid-spring-bud;
  text-decoration: none;
  color: $mine-shaft;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-trelora {
  box-shadow: 0 1px 4px 0 rgba(27,27,27,0.2);
  border-radius: 2px;
  font-size: 16px;
  padding: 8px 24px;

  align-items: center;
  background-color: #72a609;
  border: none;
  /*border-radius: 2px;*/
  color: white;
  display: inline-flex;
  /*font-family: "Oxygen", Helvetica, Arial, sans-serif;*/
  /*font-size: 16px;*/
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.8px;
  outline: 0px solid transparent;
  position: relative;
  text-transform: uppercase;
  transition: 0.1s;
  background-image: linear-gradient(-129deg, #97c93d 0%, #7ba52e 100%);
}

.btn-trelora:hover {
  box-shadow: 1px 2px 7px 0 rgba(27,27,27,0.3);
  background-image: linear-gradient(-129deg, #72a609 0%, #659308 100%);
  background-color: #618e08;
  border: none;
  cursor: pointer;
}

#active {
  background-color: $vivid-spring-bud;
  text-decoration: none;
  color: $mine-shaft;
}